* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Montserrat, sans-serif;
	background-color: #f1f2f2;
}

.header {
	text-align: center;
	padding: 2rem 1rem;
}

.header h1 {
	margin-bottom: 0.5rem;
	color: #f2a93b;
	font-size: 46px;
	font-weight: 500;
	letter-spacing: 2px;
}

.header h2 {
	font-size: 16px;
	font-weight: normal;
}

.search-info {
	color: orange;
}

.hidden {
	display: none;
}

.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.controls input {
	font-family: Montserrat, sans-serif;
	width: 50%;
	padding: 11px 24px;
	border-radius: 50px;
	border: 1px solid #ccc;
	outline: none;
	font-size: 18px;
	font-weight: 300;
	caret-color: #f2a93b;
	color: #f2a93b;
	background-color: transparent;
}

.controls input::placeholder {
	font-family: Montserrat, sans-serif;
}

.sort-buttons {
	display: flex;
	gap: 1rem;
}

.sort-buttons button:not(:last-child) {
	font-family: Montserrat, sans-serif;
	padding: 10px 30px;
	cursor: pointer;
	background-color: transparent;
	color: #f2a93b;
	border: 1px solid #f2a93b;
	border-radius: 35px;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 16px;
	transition: all 0.3s;
	/* display: flex;
	align-items: center;
	gap: 6px; */
}

.sort-buttons button:last-child {
	border: none;
	background-color: transparent;
	padding: 0;
}

.sort-buttons button.active {
	background-color: #f2a93b;
	color: #fff;
}

.sort-icon {
	font-size: 0.9rem;
	opacity: 0.8;
}

.graph-btn:hover svg {
	transform: scale(1.1);
	cursor: pointer;
}

.graph-btn svg {
	transition: transform 0.2s ease;
}

.countries {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 2rem;
	padding: 2rem;
}

.country-card {
	background: #eee;
	padding: 1.5rem;
	text-align: center;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	border-radius: 2px;
}

.country-card .flag {
	width: 120px;
	height: auto;
	margin-bottom: 1rem;
}

.country-card .country-name {
	color: orange;
	margin-bottom: 1rem;
	font-size: 1.1rem;
	font-weight: 400;
}

.country-card p {
	margin: 0.3rem 0;
	font-size: 0.9rem;
	text-align: left;
}

.graph {
	padding: 2rem;
}

.graph-header {
	text-align: center;
	margin-bottom: 1.5rem;
}

.graph-modes {
	display: inline-flex;
	gap: 8px;
	margin-bottom: 0.5rem;
}

.graph-modes button {
	font-family: Montserrat, sans-serif;
	padding: 10px 20px;
	border: 1px solid #ccc;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 3px;
}

.graph-modes button.active {
	background: #f2a93b;
	color: white;
	border-color: #f2a93b;
}

/* .graph .graph-header .graph-modes button {
	font-family: Montserrat, sans-serif;
	background-color: #f2a93b;
	border: none;
	padding: 10px 20px;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 3px;
}

.graph .graph-header .graph-modes button:first-child {
	margin-right: 8px;
} */

.graph .graph-header p {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.graph-bars {
	display: flex;
	flex-direction: column;
	gap: 10px;
	/* extra code */
	max-width: 60%;
	margin: 0 auto;
}

.graph-row {
	display: grid;
	grid-template-columns: 150px 1fr 150px;
	align-items: center;
	gap: 1rem;
}

.graph-label {
	font-size: 14px;
	font-weight: 500;
}

.graph-bar-wrapper {
	background: #e0e0e0;
	height: 28px;
	border-radius: 5px;
	overflow: hidden;
}

.graph-bar {
	height: 100%;
	background: #f2a93b;

	width: 0; /* start collapsed */
	transition: width 0.8s ease;
}

.graph-value {
	font-size: 12px;
}

.footer {
	padding: 36px 80px;
}

.footer p strong a {
	text-decoration: none;
	color: #000;
	transition: color 0.3s ease;
}

.footer p strong a:hover {
	color: #f2a93b;
}

#scroll-top-btn {
	position: fixed;
	bottom: 24px;
	right: 24px;

	width: 42px;
	height: 42px;

	border: none;
	border-radius: 50%;
	background: orange;
	color: white;
	font-size: 18px;

	cursor: pointer;
	opacity: 0;
	pointer-events: none;

	transition: opacity 0.3s ease;
}

#scroll-top-btn.show {
	opacity: 1;
	pointer-events: auto;
}
